# -- Server --------------------------------------------------------------------
alias server='open http://localhost:8000 && http-server -p 8000'

# -- Jump ----------------------------------------------------------------------
alias j='jump'

# -- vagrant ----------------------------------------------------------------------
alias v='vagrant'

# -- Drush ----------------------------------------------------------------------
alias d='drush'